VerteilteSysLib/VerteilteSysClient/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPluginService_DisplayAllPlugins_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllPlugins" />
  </wsdl:message>
  <wsdl:message name="IPluginService_DisplayAllPlugins_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllPluginsResponse" />
  </wsdl:message>
  <wsdl:message name="IPluginService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IPluginService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPluginService_UsePlugin_InputMessage">
    <wsdl:part name="parameters" element="tns:UsePlugin" />
  </wsdl:message>
  <wsdl:message name="IPluginService_UsePlugin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsePluginResponse" />
  </wsdl:message>
  <wsdl:portType name="IPluginService">
    <wsdl:operation name="DisplayAllPlugins">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPluginService/DisplayAllPlugins" message="tns:IPluginService_DisplayAllPlugins_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPluginService/DisplayAllPluginsResponse" message="tns:IPluginService_DisplayAllPlugins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPluginService/UploadFile" message="tns:IPluginService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPluginService/UploadFileResponse" message="tns:IPluginService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsePlugin">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPluginService/UsePlugin" message="tns:IPluginService_UsePlugin_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPluginService/UsePluginResponse" message="tns:IPluginService_UsePlugin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>