VerteilteSysLib/VerteilteSysClient/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DisplayAllPlugins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAllPluginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayAllPluginsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsePlugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pluginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsePluginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsePluginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>